<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <table border="2" style="padding: 20px">
        <tr style="border:0">
            <td style="border:0">
                Email
            </td>
            <td style="border:0">
                <input type="text" name="email" placeholder="abx@xyz.com"/>
            </td>
        </tr>
        <tr style="border:0">
            <td style="border:0">
                Password
            </td>
            <td style="border:0">
                <input type="password" name="password"/>
            </td>
        </tr >
        <tr style="border:0">
            <td colspan="2" style="border:0">
                <button class="submit">Submit</button>
            </td>
        </tr>
    </table>
    </body>
</html>
