<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <form action="/login" method="post">
        <% include portal.ejs %>
    </form>
    </body>
</html>
